---
layout: default
---


<div class="heading" id="toc">
    <h2>目錄</h2>
</div>
<div class="section toc">
    <div class="col">
        <h4><a href="#html">HTML</a></h4>
        <ul>
            <li><a href="#html-syntax">語法</a></li>
            <li><a href="#html-doctype">HTML5 doctype</a></li>
            <li><a href="#html-lang">語言屬性</a></li>
            <li><a href="#html-ie-compatibility-mode">IE 相容性模式</a></li>
            <li><a href="#html-encoding">字元編碼</a></li>
            <li><a href="#html-style-script">引用 CSS 與 JavaScript</a></li>
            <li><a href="#html-practicality">實用性勝過純粹性</a></li>
            <li><a href="#html-attribute-order">屬性順序</a></li>
            <li><a href="#html-boolean-attributes">布林屬性</a></li>
            <li><a href="#html-reducing-markup">減少 Markup</a></li>
            <li><a href="#html-javascript">JavaScript 產生的 Markup</a></li>
            <li><a href="#html-basic-layout">基本版面區塊</a></li>
            <li><a href="#html-common-class-for-status">常見狀態的 Class</a></li>
        </ul>
    </div>
    <div class="col">
        <h4><a href="#css">CSS</a></h4>
        <ul>
            <li><a href="#css-syntax">CSS 語法</a></li>
            <li><a href="#css-declaration-order">宣告順序</a></li>
            <li><a href="#css-media-queries">Media query 擺放位置</a></li>
            <li><a href="#css-prefixed-properties">具前綴的特性</a></li>
            <li><a href="#css-single-declarations">單一宣告規則</a></li>
            <li><a href="#css-shorthand">簡寫記法</a></li>
            <li><a href="#css-nesting">CSS preprocessor (SASS, SCSS ...) 中的巢狀</a></li>
            <li><a href="#css-comments">註解</a></li>
            <li><a href="#css-classes">Class 名稱</a></li>
            <li><a href="#css-selectors">選擇器</a></li>
            <li><a href="#css-organization">組織</a></li>
            <li><a href="#css-zindex-order">z-index 管理</a></li>
            <li><a href="#css-font">font-family 中文字型</a></li>
        </ul>
    </div>
</div>
<div class="section toc">
    <div class="col">
        <h4><a href="#bestpratices">最佳實踐</a></h4>
        <ul>
            <li><a href="#best-pratices-html">HTML</a></li>
            <li><a href="#best-pratices-images">Images</a></li>
            <li><a href="#best-pratices-javascript">JavaScript</a></li>
        </ul>
    </div>
    <div class="col">
    </div>
</div>


<div class="section" id="golden-rule">
    <div class="col">
        <h2>不二法門</h2>
        <p>不管是下面的準則或您自己的準則，只要用同樣的準則即可。如有任何不對之處，請不吝指教。若想新增或貢獻內容，請至 <a href="https://github.com/mdo/code-guide/issues/new">GitHub 來提 issue</a>。</p>
    </div>
    <div class="col">
        <blockquote>
            <p>不管有多少個貢獻者，每行程式碼都應該像是同一人所寫。</p>
        </blockquote>
    </div>
</div>



<div class="heading" id="html">
    <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
    <div class="col">
        <h3>語法</h3>
        <ul>
            <li>使用 4 個空格的 soft tabs ── 這是唯一可以保證程式碼在任何環境下，render 結果一致的方法。</li>
            <li>巢狀式元素應縮排一次（四個空格）。</li>
            <li>屬性永遠使用雙引號，永遠別用單引號。</li>
            <li>自我結尾元素最後不要使用斜線，─<a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">HTML5 規範</a>表示可省。</li>
            <li>不要忽略可不寫的關閉標籤（比如 <code>&lt;/li&gt;</code> 或 <code>&lt;/body&gt;</code>）。</li>
        </ul>
    </div>
    <div class="col">
        {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-doctype">
    <div class="col">
        <h3>HTML5 doctype</h3>
        <p>每個 HTML 頁面開頭使用這個簡單的 doctype，來啟用標準模式。每個瀏覽器將會有更加一致的 render 結果。</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-lang">
    <div class="col">
        <h3>語言屬性</h3>
        <p>引用自 HTML5 規格:</p>
        <blockquote>
            <p>鼓勵作者指定根 HTML 元素的 lang
            屬性，給予文件使用的語言。這有助於語音合成工具判定要使用的發音以及翻譯工具判斷使用的規則等等。</p>
        </blockquote>
        <p><a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">深入閱讀規格裡的 lang 屬性</a>.</p>
        <p>zh-Hant-TW 係根據目前的規範依照「<a href="http://www.rfc-editor.org/rfc/rfc5646.txt">RFC 5646 Tags for Identifying Languages</a>」</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/lang.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
    <div class="col">
        <h3>IE 相容性模式</h3>
        <p>IE 支援使用 <code>&lt;meta&gt;</code> 標籤來指定 IE 是否應該呈現指定的版本。除非另有其他考量，否則它是最實用指定
        IE 瀏覽器使用最新模式 <strong>edge mode</strong> 的方法</p>
        <p>深入閱讀請查閱 stackoverflow 的討論 <a
            href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">What's
            the difference if &lt;meta http-equiv=“X-UA-Compatible” content=“IE=edge”&gt; exists or not?</a>.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-encoding">
    <div class="col">
        <h3>字元編碼</h3>
        <p>明確宣告字元編碼來快速簡單地確保內容 render 正確無誤。</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-style-script">
    <div class="col">
        <h3>引用 CSS 與 JavaScript</h3>
        <p>根據 HTML5 規範，引用 JavaScript 與 CSS 檔案時，無需指定 CSS 與 JavaScript 的 <code>type</code>。因為預設值便是 <code>text/css</code> 和 <code>text/javascript</code>。</p>
        <h4>HTML5 規範出處</h4>
        <ul>
            <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">使用 link</a></li>
            <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">使用 style</a></li>
            <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">使用 script</a></li>
        </ul>
    </div>
    <div class="col">
        {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-practicality">
    <div class="col">
        <h3>實用性勝過純粹性</h3>
        <p>在不犧牲實用性的前提下，盡力維持 HTML 的標準與語義。盡量使用簡潔、簡單的 Markup。</p>
    </div>
</div>

<div class="section" id="html-attribute-order">
    <div class="col">
        <h3>屬性順序</h3>
        <p>HTML 屬性應按照特定順序撰寫，確保程式碼的易讀性。</p>
        <ul>
            <li><code>class</code></li>
            <li><code>id</code>, <code>name</code></li>
            <li><code>data-*</code></li>
            <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
            <li><code>title</code>, <code>alt</code></li>
            <li><code>aria-*</code>, <code>role</code></li>
        </ul>
        <p>Class 是為了重用的元素而生，應該排第一位。ID 具體得多，應盡量少用（可用場景像是頁內書籤），所以排第二位。</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-boolean-attributes">
    <div class="col">
        <h3>Boolean attributes</h3>
        <p>布林屬性是不需要寫值的屬性。XHTML 要求你宣告數值，但 HTML5 不需要。</p>
        <p>深入閱讀請查閱 <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">WhatWG 關於布林屬性一節</a>：</p>
        <blockquote>
            <p>元素有布林屬性存在即代表 true value，反之不存在則代表 false value。</p>
        </blockquote>
        <p>如果<strong>一定要</strong>附上屬性的數值的話，則<strong>無需</strong>遵守 WhatWG 的這條規則：</p>
        <blockquote>
            <p>如果有寫屬性的話，其數值必須是空字串或是屬性的標準名稱（需符合 <a href="//www.whatwg.org/specs/web-apps/current-work/multipage/infrastructure.html#ascii-case-insensitive">ASCII 不分大小寫</a>的規則），且前後不可有空白。</p>
        </blockquote>
        <p><strong>長話短說，不用寫數值。</strong></p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-reducing-markup">
    <div class="col">
        <h3>簡化 Markup</h3>
        <p>撰寫 HTML 時，盡量避免多餘的父元素。這需要反覆重寫與重構，才能寫出更少的 HTML。看看右邊這個例子：</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-javascript">
    <div class="col">
        <h3>JavaScript 產生的 Markup</h3>
        <p>Markup 寫在 JavaScript 裡，不僅難找、也更難編輯，性能更是差。盡量避免在 JavaScript 裡撰寫 Markup。</p>
    </div>
</div>

<div class="section" id="html-basic-layout">
    <div class="col">
        <h3>基本版面區塊</h3>
    </div>
    <div class="col">
        {% highlight jade %}{% include html/basic-layout.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-common-class-for-status">
    <div class="col">
        <h3>常用狀態的 Class</h3>
        <ul>
            <li><code>.open</code>: drop-down</li>
            <li><code>.hover</code>: mouseover</li>
            <li><code>.selected</code>: multi-select</li>
            <li><code>.active</code>: slideshow, tab</li>
            <li><code>.current</code>: pager</li>
        </ul>
    </div>
</div>


<div class="heading" id="css">
    <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
    <div class="col">
        <h3>語法</h3>
        <ul>
            <li>使用 4 個空格的 soft tabs <br>
                ─ 這是唯一可以保證程式碼在任何環境下，render 結果一致的方法。</li>
            <li>幫選擇器分組時，獨立的選擇器自成一行。</li>
            <li>左大括號左邊留 1 個空白來提升可讀性。</li>
            <li>右大括號應另起新行。</li>
            <li>每條宣告裡的 <code>:</code> 後面留一個空白。</li>
            <li>每條宣告應自成一行，錯誤會回報的更精準。</li>
            <li>每條宣告用分號結束。</li>
            <li>以逗號分隔的特性，逗號後要加一個空白<br>
                （比如右例的 <code>box-shadow</code>，<code>inset</code>前方逗號後有留空白）。</li>
            <li>小數值簡寫成 <code>.5</code>，不要寫成 <code>0.5</code>。</li>
            <li>hex 值全小寫，如：<code>#fff</code>。<br>
                在快速掃過文件時，小寫符號比大寫符號更容易分辨，因為形狀較為不同。</li>
            <li>盡可能使用 hex 值的簡寫，比如用 <code>#fff</code> 來取代 <code>#ffffff</code>。<br>
                色碼盡量不使用 英文縮寫，除非在 preprocessor 裡使用 color function 時的簡寫。</li>
            <li>選擇器中的屬性值要用雙引號包起來，比如 <code>input[type="text"]</code>。<br>
                <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">屬性值只有某些情況下可省略</a>，加引號的一致性更好。</li>
            <li>0 不用寫單位。寫成 <code>margin: 0;</code> 而不是 <code>margin: 0px;</code>。</li>
        </ul>
        <p>對於這裡使用的術語有任何問題嗎？請參考維基百科上關於<a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">層疊樣式表條目裡的語法小節</a>。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-declaration-order">
    <div class="col">
        <h3>宣告順序</h3>
        <p>相關的屬性宣告應以下列順序分組：</p>
        <ol>
            <li>Content</li>
            <li>Positioning</li>
            <li>顯示 & Box Model</li>
            <li>Typography</li>
            <li>Visual</li>
            <li>Misc</li>
            <li>Animation</li>
        </ol>
        <p>Content: 內容本身最重要，需定義在最前面較清楚(例如：偽元素內容)。</p>
        <p>Positioning: 可以從正常文件順序裡移除元素(out of flow)的位置宣告，或是覆寫牽扯到 Box Model 的樣式。</p>
        <p>顯示 & Box Model: 決定元件的位置與尺寸 或 與 Box Model 相關。</p>
        <p>其它只在元件<strong>內部</strong>起作用的屬性放後面，因為這不會影響前面。</p>
        <p>Animation: 動畫因為較不影響排版，所以放最後。</p>
        <h3>宣告原則</h3>
        <ol>
            <li>重要性或影響性高的屬性放前面，例如：Positioning 區塊 放 Box Model 區塊前面。</li>
            <li>相依性的屬性要排序，例如：position 放 top 前面。</li>
            <li>相關性高的放一起，例如：flex 相關屬性。</li>
        </ol>
        <p>關於屬性順序的完整列表，請參考 <a href="http://twitter.github.com/recess">Recess</a>、<a href="https://github.com/necolas/idiomatic-css#declaration-order">idiomatic-css #declaration-order</a>。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-media-queries">
    <div class="col">
        <h3>Media Query 擺放位置</h3>
        <p>將 Media Query 與其最相關的規則放在一起。別把他們放在 CSS 檔案最後面，或是獨立成另外的樣式表。這樣只會讓之後接手的人錯過他們。右邊是個經典範例。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-prefixed-properties">
    <div class="col">
        <h3>具前綴的屬性</h3>
        <p>使用帶有各家廠商前綴的屬性時，縮排每個屬性、垂直對齊，以便多行編輯。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-single-declarations">
    <div class="col">
        <h3>單行宣告</h3>
        <p>當一組規則<strong>只包含單條宣告的</strong>的情況裡，考慮移除換行；寫成單行的可讀性更高、更容易編輯。任何包含多條宣告的一組規則應該要分為多行。</p>
        <p>這麼分的關鍵因素是錯誤偵測─比如：CSS Validator 表示 183 行有語法錯誤。如果是單行宣告便就是那行，多條宣告沒分行的話則會找到抓狂。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-shorthand">
    <div class="col">
        <h3>簡寫記法</h3>
        <p>宣告盡量少用簡寫，最好明確的將所有的值寫出來。過度濫用簡寫的特性包含：</p>
        <ul>
            <li><code>padding</code></li>
            <li><code>margin</code></li>
            <li><code>font</code></li>
            <li><code>background</code></li>
            <li><code>border</code></li>
            <li><code>border-radius</code></li>
        </ul>
        <p>通常我們只需設定需要的值，簡寫會設定到多餘的值。舉例來說，HTML 標題只會設定 top 與 bottom margin，所以只要更改這兩個值即可。濫用特性縮寫只會寫出更差的程式碼，也會有無謂的覆寫與不預期的副作用。</p>
        <p>Mozilla Developer Network 有篇很好的專文，給不熟悉記法與行為的開發者：<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">特性簡寫</a>。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-nesting">
    <div class="col">
        <h3>CSS preprocessor (SASS, SCSS ...) 裡的巢狀</h3>
        <p>避免無謂的巢狀。可用巢狀不表示都要用巢狀。<br>
            只在多元素需要巢狀，或是需要在父元素下增加樣式的場景下使用巢狀。</p>
    </div>
    <div class="col">
        {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-comments">
    <div class="col">
        <h3>註解</h3>
        <p>程式碼是由人來撰寫與維護的。<br>
            確保程式碼精準描述、有良好的註解，讓別人看起來是很親切。<br>
            好的註解傳遞意圖、意境。<br>
            註解不要只是重複元件或是 Class 的名稱。</p>
        <p>長註解記得使用完整的句子，一般的筆記用簡潔的用語。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/comments.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-classes">
    <div class="col">
        <h3>Class 名稱</h3>
        <ul>
            <li>採用 BEM naming, 兩個下底線代表階層，兩個連接號代表狀態</li>
            <li>Class 名稱為小寫，非 BEM 規則時盡量使用連接號，dash。（不要使用底線或 camelCase）。<br>
                連接號作為相關 Class 的分類符。（像是 <code>.btn</code> 和 <code>.btn-danger</code>）。</li>
            <li>避免使用過短、隨便的縮寫。 <em>button</em> 簡寫為 <code>.btn</code> 很好，但 <code>.s</code> 不代表任何元素。</li>
            <li>盡量保持 Class 簡潔有力。</li>
            <li>使用有意義的名字；使用有意義、能說明結構的名稱，而不是外表看起來的名稱。</li>
            <li>根據最近的父類、基類加上前綴。</li>
            <li>使用 <code>.js-*</code> Class 來標示行為（相對樣式來說），這些類別放在另外的 CSS。</li>
        </ul>
    </div>
    <div class="col">
        {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-selectors">
    <div class="col">
        <h3>選擇器</h3>
        <ul>
            <li>就 render 的性能來說，使用 Class 會比通用的元素標籤好。</li>
            <li>重複出現的元件，避免使用多個屬性選擇器（比如：<code>[class^="..."]</code>）。大家都知道這會影響到瀏覽器的性能。</li>
            <li>保持選擇器簡短，每個選擇器盡量不要超過 3 個元素。</li>
            <li><strong>只</strong>在需要的情況下使用後代 Class （比如沒有使用前綴 class 的情況）。</li>
        </ul>
        <p>延伸閱讀：</p>
        <ul>
            <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a></li>
            <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stop the cascade</a></li>
        </ul>
    </div>
    <div class="col">
        {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-organization">
    <div class="col">
        <h3>組織</h3>
        <ul>
            <li>依元件組織程式碼段落。</li>
            <li>使用一致的註解層級。</li>
            <li>程式碼分段使用定量的空白，瀏覽大檔案時很有幫助。</li>
            <li>維護多個 CSS 檔案時，依照元素而不是頁面來分類。頁面可能會改，但元件移動就可以了。</li>
        </ul>
    </div>
    <div class="col">
        {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-zindex-order">
    <div class="col">
        <h3>z-index 管理</h3>
        <p>
            羅列目前較有 z-index 問題如下：
        </p>
        <ol>
            <li>@首頁: globalbar</li>
            <li>@前台: topbar</li>
            <li>@前台: AD, MIB.freeze</li>
            <li>@後台: dialog</li>
        </ol>
        <p>
            基本 <code>z-index</code> = order 數字 * 1000，<br>
            <strong>有異動需更新文件</strong>。
        </p>
    </div>
</div>

<div class="section" id="css-font">
    <div class="col">
        <h3>font-family 中文字型</h3>
        <p>使用 webpack v1.10.1 uglify 或是 css-loader v0.28.7 minimize, 中文字元後會多一個 \(比如：
            <code>\5FAE\8EDF\6B63\9ED1\9AD4</code>
            變成
            <code>\\5FAE\8EDF\6B63\9ED1\9AD4</code>。
        </p>
        <p>因此只使用英文字體名稱，並且在字型名稱中有空格時加上雙引號，避免 bundle 的結果 encode 錯誤。</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/font.css %}{% endhighlight %}
    </div>
</div>

<div class="heading" id="bestpratices">
    <h2>最佳實踐</h2>
</div>

<div class="section" id="best-pratices-html">
    <div class="col">
        <h3>HTML</h3>
        <p>推薦閱讀 <a href="https://images.guide/">Essential Image Optimization</a> 深入瞭解圖片的最佳化技巧</p>
        <ul>
            <li>使用 HTML5 語義化標籤，例如 header, section, footer, main, nav</li>
            <li>外部超連結 (target="_blank") 加上 rel="noopener"，避免把母視窗的 JS 資料帶出，確保 window.opener 為
            null，增進安全性也改善效能 <a href="https://mathiasbynens.github.io/rel-noopener/">[深入閱讀]</a></li>
        </ul>
    </div>
</div>

<div class="section" id="best-pratices-images">
    <div class="col">
        <h3>Images</h3>
        <p>推薦閱讀 <a href="https://images.guide/">Essential Image Optimization</a> 深入瞭解圖片的最佳化技巧</p>
        <ul>
            <li>把圖片 commit 進 repository 之前，應確實進行壓縮作業，推薦使用 <a
                href="https://imageoptim.com/">ImageOptim</a>、<a
                href="https://github.com/imagemin/imagemin">Imagemin</a> 等工具；SVG 使用<a
                href="https://jakearchibald.github.io/svgomg/">SVGOMG</a></li>
            <li>多張零碎的小圖可以合併成 sprite (雪碧圖) ，若專案基礎建設支援 HTTP/2 則免</li>
            <li>img 標籤指定 width 與 height 屬性避免瀏覽器載入圖片完成後才進行 layout 造成內容抖動影響體驗</li>
            <li>圖片應有 alt 屬性描述其意義，純裝飾圖可填入空字串或是適合的符號，推薦閱讀 <a
                href="https://axesslab.com/alt-texts/">Alt-texts: The Ultimate Guide</a> 替代文字撰寫指南</li>
            <li>若頁面會載入許多圖片，建議加上 Lazy loading 機制，節省不必要的流量開銷以及改善閱讀體驗</li>
        </ul>
    </div>
</div>

<div class="section" id="best-pratices-javascript">
    <div class="col">
        <h3>JavaScript</h3>
        <p>V8 6.0 引擎的新架構 TurboFan 對 ES2015 的語法有更好的效能 <a href="http://benediktmeurer.de/2017/04/03/v8-behind-the-scenes-march-edition/">資料來源</a></p>
        <ul>
            <li>使用明確的物件比較，在 V8 6 引擎平均增快 15%</li>
            <li>使用 ES2015 的其餘參數 (Rest parameters) 特性，相較於舊式語法實作等效功能，平均增快 4.5 倍</li>
            <li>為防止外部 JavaScript 堵塞關鍵渲染路徑，請使用 defer 屬性延後剖析執行 JavaScript，或採用 async
            非同步載入，如果載入的外部 JS 具有相依性 (例如需要 jQuery)，請務必確認正確的順序載入。 <a href="https://developers.google.com/speed/docs/insights/BlockingJS">[參考閱讀]</a></li>
            <li>避免使用 document.write() 載入外部 script，會導致堵塞關鍵渲染路徑，Chrome 在緩慢的網路連線環境下會封鎖此類連線之載入
            <a href="https://developers.google.com/web/updates/2016/08/removing-document-write">[資料來源]</a></li>
        </ul>
    </div>
    <div class="col">
        {% highlight javascript %}{% include javascript/best-pratices-compare-with-undefined.js %}{% endhighlight %}
        {% highlight javascript %}{% include javascript/best-pratices-rest-parameters.js %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-editor-prefs">
    <div class="col">
        <h3>編輯喜好</h3>
        <p>使用下列設定來設定編輯器，避免掉常見的程式碼不一致和醜陋的 diffs：</p>
        <ul>
            <li>使用四個空白的 soft-tabs。</li>
            <li>存檔時抹除行尾空白。</li>
            <li>編碼設定為 UTF-8。</li>
            <li>檔案最後加入一空白行。</li>
        </ul>
        <p>考慮將以上偏好應用到專案的 <code>.editorconfig</code> 檔案並撰寫文件說明。舉個例子，參考 <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">Bootstrap 的 <code>.editorconfig</code></a>。瞭解更多內容，請參考 <a href="http://editorconfig.org">editorconfig.org</a>。</p>
    </div>
</div>
