---
layout: default
---


<div class="heading" id="toc">
    <h2>Table des matières</h2>
</div>
<div class="section toc">
    <div class="col">
        <h4><a href="#html">HTML</a></h4>
        <ul>
            <li><a href="#html-syntax">Syntaxe</a></li>
            <li><a href="#html-doctype">Doctype HTML5</a></li>
            <li><a href="#html-lang">Attributs de langue</a></li>
            <li><a href="#html-encoding">Codage des caractères</a></li>
            <li><a href="#html-ie-compatibility-mode">Mode de compatibilité IE</a></li>
            <li><a href="#html-style-script">Inclusions CSS et JavaScript</a></li>
            <li><a href="#html-practicality">Pragmatisme avant pureté</a></li>
            <li><a href="#html-attribute-order">Ordre des attributs</a></li>
            <li><a href="#html-boolean-attributes">Attributs booléens</a></li>
            <li><a href="#html-reducing-markup">Reduire le balisage</a></li>
            <li><a href="#html-javascript">Balisage généré par Javascrip</a></li>
        </ul>
    </div>
    <div class="col">
        <h4><a href="#css">CSS</a></h4>
        <ul>
            <li><a href="#css-syntax">Syntaxe CSS</a></li>
            <li><a href="#css-declaration-order">Ordre des déclarations</a></li>
            <li><a href="#css-media-queries">Emplacement des media queries</a></li>
            <li><a href="#css-prefixed-properties">Propriétés prefixées</a></li>
            <li><a href="#css-single-declarations">Règles avec unique déclaration</a></li>
            <li><a href="#css-shorthand">Notations abrégées</a></li>
            <li><a href="#css-nesting">Imbrication avec Less et Sass</a></li>
            <li><a href="#css-comments">Commentaires</a></li>
            <li><a href="#css-classes">Classes</a></li>
            <li><a href="#css-selectors">Sélecteurs</a></li>
            <li><a href="#css-organization">Organisation</a></li>
        </ul>
    </div>
</div>



<div class="section" id="golden-rule">
    <div class="col">
        <h2>Règle d'or</h2>
        <p>Définissez vos propres règles, ou suivez celle-ci, mais forcez-vous à les suivre tout le temps. Les petites comme les grandes infractions aux règles doivent être corrigées. Pour tout ajout ou contribution à ce Guide de Code, merci <a href="https://github.com/mdo/code-guide/issues/new">d'ouvrir un ticket sur GitHub</a>.</p>
    </div>
    <div class="col">
        <blockquote>
            <p>Toutes les lignes de code doivent sembler avoir été écrites par la même personne, quelque soit le nombre de contributeurs.</p>
        </blockquote>
    </div>
</div>



<div class="heading" id="html">
    <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
    <div class="col">
        <h3>Syntaxe</h3>
        <ul>
            <li>utilisez deux espaces pour l'indentation — c'est le seul moyen de garantir que le code s'affichera de la même manière sous tous les environnements. </li>
            <li>les éléments imbriqués doivent être indentés une fois (deux espaces).</li>
            <li>utilisez toujours des guillements doubles, jamais de guillemets simples, sur les attributs.</li>
            <li>n'utilisez pas de slash terminal sur les éléments auto-fermants — la <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">spécification html5</a> indique qu'ils sont optionnels.</li>
            <li>n'omettez pas les balises optionnelles de fermeture (e.g. <code>&lt;/li&gt;</code> ou <code>&lt;/body&gt;</code>).</li>
        </ul>
    </div>
    <div class="col">
        {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-doctype">
    <div class="col">
        <h3>Doctype HTML5</h3>
        <p>Forcez le mode standard et donc un affichage plus cohérent dans tous les navigateurs possibles avec ce simple doctype au début de chaque page HTML.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-lang">
    <div class="col">
        <h3>Attributs de langue</h3>
        <p>D'après la spec HTML5:</p>
        <blockquote>
        <p>Les auteurs sont encouragés à spécifier un attribut de langue sur l'élément racine html, afin de donner une langue au document. Ceci aide les outils de synthèse vocale à déterminer la prononciation à utiliser, les outils de traductions à choisir les règles à utiliser, etc.</p>
        </blockquote>
        <p>Vous pouvez en savoir plus sur l'attribut <code>lang</code> <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">en lisant la spec</a>.</p>
        <p>Rendez-vous sur Sitepoint pour une <a href="http://reference.sitepoint.com/html/lang-codes">liste des codes de langue</a>.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/lang.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
    <div class="col">
        <h3>Mode de compatibilité IE</h3>
        <p>Internet Explorer supporte l'utilisation d'une balise de compatibilité <code>&lt;meta&gt;</code> pour spécifier sous quelle version de IE la page devrait être rendue. Sauf cas exceptionnel, il est préférable de dire à IE d'utiliser le dernier mode de rendu supporté avec le <strong>edge mode</strong>.</p>
        <p>Pour plus d'informations, <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">vous pouvez lire cet extraordinaire article sur Stack Overflow</a>.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-encoding">
    <div class="col">
        <h3>Codage des caractères</h3>
        <p>Assurez vous rapidement et facilement d'un bon rendu de votre contenu en déclarant de manière explicite le codage des caractères. En faisant ainsi, vous pouvez éviter d'utiliser des entités HTML, pour peu que leur encoding corresponde à celui du document (généralement UTF-8)</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-style-script">
    <div class="col">
        <h3>Inclusions CSS et Javascript</h3>
        <p>Selon la spec HTML, il n'est pas nécessaire de spécifier un <code>type</code> lorsque vous incluez des fichiers CSS ou Javascript puisque <code>text/css</code> et <code>text/javascript</code> sont leurs valeurs par défaut respectives.</p>
        <h4>Liens vers la spec HTML5</h4>
        <ul>
          <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Utiliser link</a></li>
          <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Utiliser style</a></li>
          <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Utiliser script</a></li>
        </ul>
    </div>
    <div class="col">
        {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-practicality">
    <div class="col">
        <h3>Pragmatisme plutôt que pureté</h3>
        <p>Tendez à maintenir les standards et la sémantique HTML, mais pas au dépends du pragmatisme. Autant que possible, cherchez à utiliser le moins de balisage possible, avec le moins d'imbrication possible.</p>
    </div>
</div>

<div class="section" id="html-attribute-order">
    <div class="col">
        <h3>Ordre des attributs</h3>
        <p>Les attributs HTML devraient apparaitre dans cet ordre, afin de faciliter la lecture du code.</p>
        <ul>
        <li><code>class</code></li>
        <li><code>id</code>, <code>name</code></li>
        <li><code>data-*</code></li>
        <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
        <li><code>title</code>, <code>alt</code></li>
        <li><code>role</code>, <code>aria-*</code></li>
        </ul>
        <p>Les classes sont de très bon composants réutilisables, ils doivent donc apparaitre en premier. Les Ids sont plus spécifiques et doivent donc être utilisés avec parcimonie (e.g. pour des liens internes à la page), ils viennent donc en seconde position.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-boolean-attributes">
    <div class="col">
        <h3>Attributs booléens</h3>
        <p>Un attribut booléen est un attribut qui ne nécessite pas de valeur. Il était nécessaire d'en ajouter un en XHTML, mais HTML5 n'a pas ce pré-requis.</p>
        <p>Pour plus d'informations, consultez la <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">section WhatWG sur les attributs booléens</a>:</p>
        <blockquote>
          <p>La présence d'un attribut booléen sur un élément représente la valeur vraie, et l'absence de l'attribut représente la valeur faux.</p>
        </blockquote>
        <p>Si vous <em>devez</em> inclure la valeur de l'attribut, mais que <strong>vous n'en avez pas besoin</strong>, suivez cette bonne pratique du WhatWG :</p>
        <blockquote>
          <p>Si l'attribut est présent, sa valeur doit soit être une chaine vide ou [...] le nom canonique de l'attribut, sans espace ni devant, ni derrière.</p>
        </blockquote>
        <p><strong>En clair, n'ajoutez pas de valeur.</strong></p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-reducing-markup">
    <div class="col">
        <h3>Réduire le balisage</h3>
        <p>Autant que possible, évitez les éléments parents inutiles quand vous écrivez du HTML. Bien souvent, cela nécessite plusieurs passes et du refactoring, mais cela produit moins de HTML. Prenez l'exemple suivant :</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-javascript">
    <div class="col">
        <h3>Balisage généré par Javascript</h3>
        <p>Écrire du balisage dans un fichier Javascript rend son contenu plus difficile à trouver, plus difficile à éditer et moins performant. Évitez autant que possible.</p>
    </div>
</div>

<div class="heading" id="css">
    <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
    <div class="col">
        <h3>Syntaxe</h3>
        <ul>
          <li>Utilisez deux espaces pour l'indentation — c'est le seul moyen de garantir que le code s'affiche de la même manière sur tous les environnements.</li>
          <li>Lorsque vous regroupez des sélecteurs, laissez chaque sélecteur sur sa propre ligne.</li>
          <li>Ajouter un espace avant l'accolade d'ouverture de la déclaration pour la lisibilité.</li>
          <li>Placez les accolades de fermeture de la déclaration sur une nouvelle ligne.</li>
          <li>Ajouter un espace après <code>:</code> pour chaque déclaration.</li>
          <li>Chaque déclaration doit apparaitre sur sa propre ligne pour un affichage des erreurs plus précis.</li>
          <li>Terminez vos déclarations par un point-virgule. Celui sur la dernière déclaration est optionnel mais votre code sera plus robuste aux erreurs en l'ajoutant.</li>
          <li>Les valeurs de propriétés séparées par des virgules doivent inclure un espace après chaque virgule (e.g., <code>box-shadow</code>).</li>
          <li>N'ajoutez pas d'espace après les virgules <em>à l'intérieur de </em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, ou <code>rect()</code>. Cela permet de différencier les multiples valeurs de couleurs (virgule, sans espace) des multiples valeurs de propriétés (virgule, avec espace).</li>
          <li>Ne préfixez pas les valeurs de propriétés ou les paramètres de couleur avec un zéro (e.g., <code>.5</code> plutôt que <code>0.5</code> et <code>-.5px</code> plutôt que <code>-0.5px</code>).</li>
          <li>Mettez toutes les valeurs hexadécimales en minuscule, e.g., <code>#fff</code>. Les lettres minuscules sont bien plus facile à repérer lorsqu'on scanne  visuellement un document car elles ont des formes plus uniques.</li>
          <li>Utilisez les valeurs réduites hexadécimales dès que possible, e.g., <code>#fff</code> plutôt que <code>#ffffff</code>.</li>
          <li>Mettez les valeurs des attributes entre double guillemets dans les sélecteurs, e.g., <code>input[type="text"]</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">Ils sont optionnels dans certains cas</a>, mais c'est une bonne pratique pour la cohérence.</li>
          <li>Évitez d'ajouter des unités quand la valeur est zéro, e.g., <code>margin: 0;</code> plutôt que <code>margin: 0px;</code>.</li>
        </ul>
        <p>Vous avez des questions sur les termes employés ici ? Référez-vous à la <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">section sur la syntaxe de l'article sur les Cascading Style Sheets</a> sur Wikipedia.</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-declaration-order">
    <div class="col">
        <h3>Ordre des déclarations</h3>
        <p>Les déclarations de propriétés similaires devraient être regroupées ensemble selon cet ordre :</p>
        <ol>
        <li>Positionnement</li>
        <li>Modèle de boîte</li>
        <li>Typographie</li>
        <li>Visuel</li>
        </ol>
        <p>Le positionnement vient en premier car cela peut retirer un élément du flux normal du document et overrider les styles relatifs au modèle de boîte. Le modèle de boîte vient ensuite car il influe sur les dimensions et le placement de l'élément.</p>
        <p>Tout le reste agissant <em>à l'intérieur</em> de l'élement ou sans impacter les deux sections précédentes, vient ensuite.</p>
        <p>Pour une liste complète des propriétés et leur ordre, merci de vous référer à <a href="http://twitter.github.com/recess">Recess</a>.</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-media-queries">
    <div class="col">
        <h3>Emplacement des media queries</h3>
        <p>Placez les media queries le plus proche possible des règles qu'elles impactent. Ne les mettez pas toutes dans une feuille de style différente ou à la fin du document. En faisant ainsi, vous rendez la chose plus aisée pour les autres de ne pas les rater. Voici un exemple typique :</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-prefixed-properties">
    <div class="col">
        <h3>Propriétés prefixées</h3>
        <p>Lorsque vous utilisez des propriétés prefixées, indentez chaque propriété de telle manière que les déclarations s'alignent verticalement, de manière à rendre l'édition multi-ligne plus facile.</p>
        <p>Sous TextMate, utilisez <strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A). Sous Sublime Text 2, utilisez <strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;) et <strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;).</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-single-declarations">
    <div class="col">
        <h3>Règles avec unique déclaration</h3>
        <p>Dans les cas où une règle ne contient <strong>qu'une seule déclaration</strong>, vous pouvez supprimer le saut de ligne pour faciliter la lecture et l'édition. Tout ensemble de règles avec plusieurs déclarations doit être découpé en plusieurs lignes.</p>
        <p>L'élément important ici est la détection des erreurs — e.g., un validateur CSS qui vous indique que vous avez une erreur à la ligne 183. Avec une seule déclaration, vous ne pouvez pas vous tromper. Avec plusieurs déclarations, il est indispensable de séparer les lignes si vous tenez à votre santé mentale.</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-shorthand">
    <div class="col">
        <h3>Notations abrégées</h3>
        <p>Essayez de limiter l'utilisation de notations abrégées pour les cas où vous devez specifier explicitement toutes les valeurs. Les notations abrégées trop souvent abusées sont les suivantes :</p>
        <ul>
        <li><code>padding</code></li>
        <li><code>margin</code></li>
        <li><code>font</code></li>
        <li><code>background</code></li>
        <li><code>border</code></li>
        <li><code>border-radius</code></li>
        </ul>
        <p>Bien souvent vous n'avez pas besoin de spécifier toutes les valeurs qu'une notation abrégée vous propose. Par exemple, les entêtes de titre HTML ne définissent que des marges top et bottom, vous n'avez donc besoin que d'overrider ces valeurs. L'utilisation excessive des notations abrégées mène bien souvent à du code de mauvaise facture avec des overrides inutiles et des effets de bords non sollicités.</p>
        <p>Le Mozilla Developer Network possède un très bon article sur <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">les notations abrégées</a> pour ceux qui ne sont pas familier avec leur syntaxe et comportement.</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-nesting">
    <div class="col">
        <h3>Imbrication avec Less et Sass</h3>
        <p>Évitez les imbrications inutiles. Ce n'est pas parce que vous pouvez faire de l'imbrication que vous devez le faire. N'imbriquez que si vous devez définir un scope parent pour un style et s'il y a plusieurs éléments à imbriquer.</p>
        <p>Pour en savoir plus :</p>
        <ul>
        <li><a href="http://markdotto.com/2015/07/20/css-nesting/">Imbrications en Sass et Less (anglais)</a></li>
        </ul>
    </div>
    <div class="col">
        {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-comments">
    <div class="col">
        <h3>Commentaires</h3>
        <p>Le code est écrit et maintenu par des humains. Assurez-vous que votre code est auto-portant, bien commenté et compréhensible par d'autres. Les bons commentaires apportent du contexte et de l'information. Ne répétez pas simplement le nom du composant ou de la classe.</p>
        <p>Assurez-vous d'écrire des phrases complètes pour les longs commentaires et des phrases simples pour les notes d'ordre général.</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/comments.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-classes">
    <div class="col">
        <h3>Nom des classes</h3>
        <ul>
        <li>N'utilisez que des minuscules et des tirets dans les noms des classes (pas d'underscore ou de camelCalse). Les tirets sont des séparateurs naturels dans les classes de même contexte (e.g., <code>.btn</code> et <code>.btn-danger</code>).</li>
        <li>Évitez les notations abrégées excessives et arbitraires. <code>.btn</code> est utile pour un <em>button</em>, mais <code>.s</code> ne veut rien dire.</li>
        <li>Gardez les noms de classes aussi courts et succincts que possible.</li>
        <li>Utilisez des noms qui ont du sens; préférez des noms expliquant la structure ou le but plutôt que la présentation.</li>
        <li>Préfixez les classes d'après le parent le plus proche ou la classe de base.</li>
        <li>Utilisez des classes <code>.js-*</code> pour indiquer un comportement (par opposition à un style), mais laissez ces classes en dehors de votre CSS.</li>
        </ul>
        <p>Il est aussi utile d'appliquer la majorité de ces règles lorsque vous créez des noms de variable Less ou Sass.</p>
    </div>
    <div class="col">
        {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-selectors">
    <div class="col">
        <h3>Sélecteurs</h3>
        <ul>
            <li>Préférez les classes plutôt que les noms de balises pour une performance de rendu optimale.</li>
            <li>Évitez d'utiliser plusieurs attributs de sélecteur (e.g., <code>[class^="..."]</code>) sur des éléments apparaissant souvent dans la page. La performance du navigateur est impactée par ces sélecteurs.</li>
            <li>Gardez vos sélecteurs courts et limitez le nombre d'éléments dans chaque sélecteur à trois.</li>
            <li>Encadrez vos classes par le parent le plus proche <strong>uniquement</strong> lorsque cela est nécessaire (e.g., quand vous n'utilisez pas les classes préfixées).</li>
          </ul>
          <p>Plus d'informations :</p>
          <ul>
            <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Encadrez vos classes CSS avec des préfixes</a></li>
            <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Arrêtez la cascade</a></li>
          </ul>
    </div>
    <div class="col">
        {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-organization">
    <div class="col">
        <h3>Organisation</h3>
        <ul>
            <li>Organisez vos sections de code par composant.</li>
            <li>Développez une hiérarchie de commentaires cohérente.</li>
            <li>Utilisez les sauts de lignes de manière cohérente à votre avantage pour séparer les sections de code de manière à scanner le document plus facilement.</li>
            <li>Lorsque vous utilisez plusieurs fichiers CSS, séparez-les par composant plutôt que par page. Les pages peuvent changer, et les composants sont plus flexibles.</li>
        </ul>
    </div>
    <div class="col">
        {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="css-editor-prefs">
    <div class="col">
      <h3>Préférences de votre éditeur</h3>
      <p>Configurez votre éditeur avec la configuration suivante afin d'éviter les incohérences et les diffs sales :</p>
      <ul>
        <li>Utilisez une indentation douce de deux espaces.</li>
        <li>Supprimez les espaces en fin de ligne à la sauvegarde du fichier.</li>
        <li>Définissez UTF-8 comme codage de caracères.</li>
        <li>Ajoutez un saut de ligne à la fin des fichiers.</li>
      </ul>
      <p>Pensez à documenter et à appliquer ces préférences dans le fichier <code>.editorconfig</code> de votre projet. Par exemple, voici <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">celui de Bootstrap</a>. En savoir plus <a href="http://editorconfig.org">à propos de EditorConfig</a>.</p>
    </div>
  </div>