<footer class="footer">
    <!-- <p>&lt;3</p>
    <p>深受<a href="https://github.com/necolas/idiomatic-css">慣用的 CSS</a> 和 <a href="http://github.com/styleguide">GitHub 樣式準則</a>啟發。由 <a href="https://twitter.com/mdo">@mdo</a> 用世界所有的愛寫成。</p> -->
    <p>MIT 協議下開源。 Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/mdo">@mdo</a>。</p>
    <ul class="quick-links">
        <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
        </li>
        <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
        </li>
    </ul>
    {% comment %}
    <ul class="quick-links">
        <li class="follow-btn">
            <a href="https://twitter.com/mdo" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">跟隨 @mdo</a>
        </li>
        <li class="tweet-btn">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mdo.github.com/code-guide" data-count="horizontal" data-via="mdo">轉推</a>
        </li>
    </ul>
    {% endcomment %}
</footer>
